.header {
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: left;
}

.trybe-header_logo {
  
}

.steps {
  background-color: lime;
}

.form {
  background-color: aquamarine;
}
