* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-wrapper {
  background-color: rgb(248, 248, 248);
}

.header {
  display: flex;
  background-color: white;
  border: 1px solid rgb(205, 225, 232);
}

.trybe-header-logo {
  margin: 0.625em 0 0.625em 0.625em;
}

main {
  display: flex;
  flex-direction: column;
}

.img-process-timeline {
  margin: 1.875em 0;
  width: 100%;
}

.wrapper-main {
  margin: 0 auto;
  width: 75%;
}

/* Form */
.text-creat-account {
  font-family: Verdana, Arial, 'Helvetica Neue', Helvetica,sans-serif;
  font-weight: 700;
  line-height: 2.18rem;
  font-size: 1.87rem; 
  margin-bottom: 0.335em;
}

.text-already-have-account {
  font-family: Verdana, Arial, 'Helvetica Neue', Helvetica,sans-serif;
  font-size: 0.75rem;
  color: rgb(53, 182, 145);
  text-decoration: underline ;
  margin-bottom: 1.3em;
}

form {
  color: rgb(53, 64, 81);
}

input {
  width: 100%;
  padding-bottom: 1.5em;
  position: relative;
}

input::placeholder {
  color: rgb(219, 222, 228);
  font-size: 1em;
  position: absolute;
  top: 10px;
  left: 15px;
}

.text-under-label {
  font-size: 0.81rem;
  margin: 0.16em 0 0.234em 0px;
  font-style: italic;
}

li {
  list-style: none;
}

ul, .password-requeriments-disappear {
  display: none;
}

#label-terms-content {
  display: flex;
  flex-direction: row;
}

#agreement {
  width: auto;
}

.text-label-checkbox {
  margin-left: 0.625em;
  font-size: 1.1rem;
}

.span-text-label  {
  text-decoration: underline;
}

#submit-btn {
margin: 1.5em 0 3em 0;
padding: 0.8em 41%;
background-color: rgba(0,59,229);
color: white;
border-radius: 4px;
border-style: none;
font-size: 0.8rem;
font-weight: 400;
}
