* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(237, 237, 237);
  padding: 20px;
}

.col {
  width: 50%;
  text-align: center;
}

.column-right {
  border-left: 2px solid black;
}

#main-section {
  display: flex;
  margin: 40px 0;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0 auto;
}

#evaluation-form input {
  padding: 12px;
  border: none;
  background-color: rgb(237, 237, 237);
  margin-bottom: 20px;
  outline: none;
  border-bottom: 2px solid black;
}

#checkboxForm {
  padding: 20px;
}